.homepage{
	min-height: 800px;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.entry-listing{
  font-weight: bold;
  border-color: red;
  border-width: 4px;
  border-style:solid;
}

.userInfo{
    border-color: red;
    border-style: double;
    border-width: 5px;
    padding: 15%;
    margin: 5%;
    text-align: center;
}

.title{
  color: silver;
  text-align: center;
  text-decoration: underline;
}

.userName{
  font-size:20px;
}



.profilePhoto{
  max-width: 250px;
  max-height: 300px;
  min-width: 250px;
  min-height: 300px;
}

.content {
    text-align: left;
    color: silver;
}

.min-height-600{
    min-height:600px;
}

.content-no-height{
    text-align: left;
}

header {
	background: #941313;
	color:white;
}

footer {
	background: black;
	color:white;
}
.sidebar-nav {
	background: #E3EBED;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}
.sidebar-nav ul a {
    text-decoration: none;
}

.login{
	background: #941313;
	padding-left:15px;
	padding-right:15px;
	padding-top:25px;
}

@media all and (min-width: 768px) {
    .sidebar-nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .content {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

/*default CSS from recharts piechart example*/
body {
  margin: 0;
}
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

.twitter{
	color: #ffffff;
}
